body
{
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}
/***********************************************************
General Styles
***********************************************************/
.backtop
{
  position:fixed;
  width:40px;
  height:40px;
  text-align: center;
  font-size:25px;
  font-weight: bold;
  border-radius:50%;
  top:80%;
  left:90%;
  z-index:10000;
  display:none;
  cursor:pointer;
  /*background:rgba(147,87,138,0.8);*/
  box-shadow: 0px 0px 1px #1089e8;
  transition: 0.3s all ease-in;
}
.backtop span
{
  color:#1089e8;
}
.backtop:hover,.backtop:focus
{
  background-color: #007a91; /*#1089e8*/
}
.backtop:hover span
{
  color:#000000;
}
.headtext
{
  color: #1abc9c;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}
.subhead
{
  color: #1abc9c;
  /*margin-top: 0;*/
  text-transform: uppercase;
}
.view-more-btn
{
  text-decoration: none;
  color: #fff;
  background: #4dc4b1;
  text-transform: uppercase;
  border-radius: 0;
  transition: 0.3s all ease-in;
}
.view-more-btn:hover,.view-more-btn:focus
{
  color: #fff;
  background: #10a78e;
  outline: none;
}

/*****************************************************
Home page styles
*****************************************************/
.banner
{
  /*border: 1px solid;*/
  padding-top: 20px;
  padding-bottom: 20px;
}
.banner-text
{
  color: #000;
  margin: 20%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.banner-head
{
  font-weight: bold;
  margin-bottom: 0;
}
.banner-sub-head
{
  margin-top: 5px;
}

.about-desc
{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #808080;
  text-align: justify;
  margin-bottom: 20px;
}

.our-timeline
{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #808080;
  text-align: justify;
  margin-bottom: 20px;
}

.timeline-header
{
  color: #1abc9c;
  margin-top: 0;
  /*margin-bottom: 20px;*/
  text-transform: uppercase;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 20px; /*previously set to 0*/
  bottom: 40px; /*previously 0*/
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #36534e; /*previously #eeeeee*/
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 60%; /*previously 46%*/
  background: #fff; /*newly added*/
  float: left;
  /*border: 1px solid #d4d4d4;*/
  border-radius: 2px;
  padding: 20px;
  position: relative;
  /*-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}*/

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-icon
{
  margin-bottom: 15px;
}

.our-services
{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #808080;
  text-align: justify;
  margin-bottom: 20px;
}

.services-holder
{
  float: left;
  width: 100%;
  margin-top: 20px;
}

.service-contain
{
  margin-bottom: 30px;
}

.service-icon img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.our-portfolio
{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #808080;
  text-align: justify;
  margin-bottom: 20px;
}

.portfolios-holder
{
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.portfolio-link-img
{
  position: relative;
  display: block;
}

.small-port-link
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.portfolio-link-overlay
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(77,196,177,0.5);
  text-align: center;
  opacity: 0;
}

.portfolio-link-img:hover .portfolio-link-overlay
{
  opacity: 1;
}

/**************************************************
Media Queries
**************************************************/
@media(max-width: 1199px)
{}
@media(min-width: 768px)
{
  .service-contain
  {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media(max-width: 767px)
{
  .timeline-header
  {
    text-align: center;
  }
  .timeline-icon
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ul.timeline:before {
    /*left: 40px;*/
  }

  ul.timeline > li > .timeline-panel {
    width: 100%;
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  /*ul.timeline > li > .timeline-panel {
    float: right;
  }*/

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .backtop
  {
    left:85%;
  }
}
@media(max-width: 600px)
{
  .banner-text
  {
    margin: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .banner-head
  {
    font-size: 20px;
  }
  .banner-sub-head
  {
    font-size: 15px;
  }
}
@media (max-width: 360px)
{
  .banner-head
  {
    font-size: 18px;
  }
  .banner-sub-head
  {
    font-size: 12px;
  }
}

@media (min-width:320px) and (max-width:360px)
{
  .backtop
  {
    left:80%;
  }
}